header {
    height: 60px;
    width: 100%;
    background-color: rgb(238, 29, 210);
    margin-top: -17px;
    margin-left: -10px;
    padding-left: 18px;
    position: fixed;
}
header div{
    float: left;
}
header .nav{
    margin-left: -00px;
    margin-top: -10px;
    font-size: 13px;
    font-weight: bold;
    position: fixed;
    
    
 }
 header .nav ul{
    list-style: none;
}
header .nav ul li i{
    color: rgb(251, 255, 0);
}
header .nav ul li span{
    margin-left: -28px;
    font-size: 25px;
    top: -8px;
    position: relative;
}
header .nav ul .li{
    margin-left: -68px;
}
header .nav ul i:last-child{
    margin-left: -50px;
}
header .nav ul .li1{
    margin-left: -68px;
}
header .nav ul li {
    padding: 20px;
    float: left;
    text-decoration: none;
    color: rgb(247, 244, 244);
    font-size: 15px;
}

.dd{
    display: flex;
    justify-content: flex-end;
    margin-left: 900px;
    margin-top: -20px;
    float: left;

}
.dd i{
    font-size: 25px;
    padding: 40px;
    color: white;
}
.dd i:hover{
    color: rgb(255, 242, 4);
    transition: all 0.3s ease-in;
}



.logo{
    margin-left: 200px;
}
.logo img{
    height: 60px;
    width: 150px;
}
.logo img:hover{
    opacity: 0.8;
}
section{
    background-color: rgb(22, 34, 112);
    margin-left: -7px;
    position: fixed;
    margin-right: -8px;
    width: 100%;
    margin-top: -80px;
}
section .nav{
  margin-top: -70px;
  margin-left: 390px;
  font-size: 13px;
  font-weight: bold;
  float: left;
  
}
section .nav ul{
   list-style: none;
}
section .nav ul li{
   float: left;
   padding: 20px;
}
section .nav ul li a{
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-weight: bold;
   font-size: 15px;
}
section .nav ul li a:hover{
   color: rgb(221, 1, 241);
   transition: all 0.1s ease-in;
}


.hh{text-align: center;
    margin-top: 70px;
}
.maindiv{
    margin-top: 30px;
    float: left;
    display: flex;
    margin-left: 160px;
}
.maindiv div{
    height: auto;
    width: 370px;
    text-align: center;
}
.maindiv div i{
    font-size: 25px;
}


/*ifream*/
.div1 iframe{
    height: 500px;
    width: 80%;
    margin-top: 40px;
    margin-left: 150px;
}



.div2{
    height: 380px;
    width: 80%;
    background-color: rgb(243, 240, 240);
    margin: auto;
    margin-top: 100px;
}
.div2 h1{
    margin-top: 30px;
    text-align: center;
    font-family:monospace;
}
.div3 .inp1{
    height: 50px;
    width: 400px;
    margin-top: 40px;
    margin-left: 150px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 20px;
}
.div3 .inp2{
    height: 50px;
    width: 400px;
    margin-left: 80px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 20px;
}
.div3 input::placeholder{
    font-size: 15px;
}
.div3 textarea{
    margin-left: 150px;
    margin-top: 20px;
}
.div3 button{
    margin-left: -247px;
    height: 40px;
    width: 80px;
    font-size: 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    
}
.div3 button:hover{
    background-color: blueviolet;
    border: none;
    outline: none;
    transition: all 0.5s ease-in;
}
.div3 .b2{
    margin-left: 15px;
    height: 40px;
    width: 100px;
    font-size: 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    
}





/*Footer Tag start&*/
footer{
    margin-top: 100px;
    height: 400px;
    width: 100%;
    background-color: rgb(10, 18, 55);
    color: white;
}
.foot{
    display: flex;
    float: left;
}
.foot1{
    margin-top: 100px;
    margin-left: 170px;
    height: 100%;
    width: 400px;
}
.foot1 h3{
    font-size: 25px;
}
.foot2{
    margin-top: 100px;
    margin-left: 100px;
    height: 100%;
    width: 400px;
}
.foot1 p{
    margin-left: -3px;
    margin-top: 10px;
}
.foot2 h3{
    font-size: 25px;
}
.foot2 p{
    margin-left: -3px;
    margin-top: 10px;
}
.foot2 input{
    height: 40px;
    width: 280px;
    border: none;
    outline: none;
}
.foot2 input::placeholder{
    font-size: 15px;
    font-weight: bold;
    font-family:monospace;
}
.foot2 .send{
    height: 42px;
    width: 70px;
    font-weight: bold;
    margin-left: -73px;
    border: none;
    background-color: #49A1F9;
    cursor: pointer;
    color: white;
    
}

.foot3{
    margin-top: 100px;
    margin-left: 100px;
    height: 100%;
    width: 200px;
}
.foot3 h3{
    font-size: 25px;
}
.foot3 p{
    margin-left: -3px;
    margin-top: 10px;
}
.foot3 a i{
    font-size: 25px;
    color: white;
    padding: 5px;
}

/*Footer Tag end*/






@media(max-width:768px){
    body{
        width: 100%;}

/*Header section start*/
    .logo img{
        margin-left: -130px;
    }
    header {
    height: 40px;
    max-width: 70%;
    margin-top: -220px;
    }
    header li{
        margin-top: -10px;
        margin-left: -10px;
    }
    section{
        width: 100%;
        height: 60px;
        margin-top: -280px;
    }
    section .nav li{
        width: 150px;
        height: 1px;
        margin-top: 2px;
        background-color: #f3c10e;
        margin-left: -100px;
        border-radius: 20px;
    }
/*Header section end*/



/* Location section start*/
    .divv{
        margin-top: 280px;
    }
    .divv .hh{margin: auto;
        text-align: center;}
.maindiv{
    margin-top: 50px;
    width: 450px;
    margin: auto;
    text-align: center;
}
.maindiv div{
    height: auto;
    width: 200px;
    display: block;
    margin-top: 40px;
}

/*Ifream Section Start*/
.div1{height: 300px;
    width: 400px;
    margin: auto;
    margin-left: -80px;
    }
/*Ifream Section end*/
/* Location section end*/


/*Informetion send section start*/
.div2{
    margin-top: 650px;
    height: auto;
    width: 150px;
    
}

/*Footer Section Start*/
footer{
    margin-top: 1700px;
    height: 600px;
    width: 480px;
    text-align: center;
}
.foot{
    height: auto;
    width: 400px;
    text-align: center;
    display: block;
    margin-left: 20px;
    margin-top: 50px;
    
}
    .foot1{
        height: auto;
        width: 400px;
        margin: auto;
        margin-top: -40px;
    }
    .foot2{
        height: auto;
        width: 400px;
        margin: auto;
        margin-top: 50px;
    }
    .foot3{
        height: auto;
        width: 400px;
        margin: auto;
        margin-top: 50px;
    }
}

/*Footer Section end*/




